*.pyc
dist/*
build/*
docs/build/*
docs/source/notebooks/.ipynb_checkpoints/*
src/quask/__pycache__/*
src/quask/core/__pycache__/*
src/quask/core_implementation/__pycache__/*
src/quask/evaluator/__pycache__/*
src/quask/optimizer/__pycache__/*
.ipynb_checkpoints/*
.vs_code/*
.vscode/*